In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
shark_df = pd.read_csv("shark_df")

In [3]:
shark_df

,Unnamed: 0,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
0,0,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf
1,1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf
2,2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf
3,3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Not specified,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf
4,4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Not specified,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not specified,Not specified,NaN,NaN,NaN,NaN,NaN,NaN
25719,25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not specified,Not specified,NaN,NaN,NaN,NaN,NaN,NaN
25720,25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not specified,Not specified,NaN,NaN,NaN,NaN,NaN,NaN
25721,25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not specified,Not specified,NaN,NaN,NaN,NaN,NaN,NaN
25722,25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not specified,Not specified,NaN,NaN,NaN,NaN,NaN,NaN